<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">
	
	<http auto-config="true">
		<intercept-url pattern="/home/**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/star/**" access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/ed2k/**" access="hasRole('ROLE_USER')" />
		<form-login login-page="/login" default-target-url="/home"
			authentication-failure-url="/login?error"
			login-processing-url="/j_spring_security_check"
			username-parameter="username" password-parameter="password"/>
		<logout logout-url="/j_spring_security_logout" 
			logout-success-url="/login?logout" invalidate-session="true"/>
		<csrf/>
	</http>
	
	<!-- 使用硬编码的方式，将用户信息写在配置文件中 -->
	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="root" password="root" authorities="ROLE_USER"/>
			</user-service>
		</authentication-provider>
	</authentication-manager>
	
	<!-- 使用数据的存储用户信息 -->
	<!-- <authentication-manager>
		<authentication-provider user-service-ref="userDetailsService">
			<password-encoder hash="bcrypt" />
		</authentication-provider>
	</authentication-manager>
	<beans:bean class="org.springframework.security.access.vote.AffirmativeBased"
		id="affirmativeBased">
		<beans:property name="decisionVoters">
			<beans:list>
				<beans:ref bean="roleVoter" />
				<beans:ref bean="authenticatedVoter" />
				<beans:ref bean="expressionVoter" />
			</beans:list>
		</beans:property>
	</beans:bean>
	
	<beans:bean class="org.springframework.security.access.vote.RoleVoter"
		id="roleVoter" />
	<beans:bean class="org.springframework.security.access.vote.AuthenticatedVoter"
		id="authenticatedVoter" />
	<beans:bean
		class="org.springframework.security.web.access.expression.WebExpressionVoter"
		id="expressionVoter">
		<beans:property name="expressionHandler" ref="expressionHandler" />
	</beans:bean>
	<beans:bean
		class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler"
		id="expressionHandler" /> -->
		
</beans:beans>